*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
   #f7a3a3 0%,#f7a3a3 50%);

}
img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .image1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  }

  .container{
    background: linear-gradient(
    to bottom,
   #f7a3a3 0%,#f7a3a3 50%);
   
  }
  .backgrounds{
    background: red;
  }
  .bg-none{
    color: white;
    background: none;
  }
  /* .background{
    justify-content: space-between;
    margin-right: 20px;
    background: red;
    height: 4rem;
    width: 100vw;
  } */
   